body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: #000;
    color: #fff;
    overflow:hidden;
}

.main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0.5rem;
}

.navbar {
    display: flex;
    align-items: center;
    background-color: #121212;
    height: 3rem;
    padding: 0.5rem;
}

.navbar-option{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-left: 1rem;
    font-size: 1rem;
}

.spotify-logo{
    font-size: 2rem;
}

.homeicon {
    display: flex;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    font-size: 1.3rem;
    background-color: rgba(88, 81, 81, 0.5);
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.homeicon:hover {
    background-color: rgba(63, 58, 58, 0.9);
    transform: scale(1.03);
}

.search{
    display: flex;
    flex: 1;
    font-size: 1.4rem;
    background-color: #242424;
    height: 2.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    padding: 0 0.9rem;
    margin-left: 1.5rem;
    transition: background-color 0.2s ease;
}

.searchicon i {
  color: #b3b3b3;
  font-size: 1.3rem;
  margin-right: 0.8rem;
}

.input {
    flex: 1;
}

.input input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  font-size: 0.95rem;
}

.input input::placeholder {
  color: #b3b3b3;
}

.input:hover {
    border-color: #fff;
    opacity: 1;
}

.search:hover {
    background-color: #2a2a2a;
    transition: 0.3s ease;
}


.Browse {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: #b3b3b3;
  cursor: pointer;
}

.Browse span {
    line-height: 3rem;
}

.input input:focus {
  color: #fff;
  background: transparent;
}

.search:focus-within {
  background-color: #333;
  box-shadow: 0 0 0 2px #fff; /* Spotify white glow */
}

.feature-option{
    display: flex;
    gap : 0.6rem;
    margin-left: 1rem;
    align-items: center;
}

.feature {
    opacity: 0.5;
    cursor: pointer;
}

.feature:hover{
    opacity: 1;
    transition: 0.3s ease;
    transform: scale(1.03,1.03);
}

.line {
    margin-left: 1rem;
}

.feature a {
    text-decoration: none;
    color: #fff;
}

.option {
    margin-left: 1rem;
}

.login {
    display: flex;
    background-color: #fff;
    color: #000;
    opacity: 1;
    height: 2.5rem;
    width: 5rem;
    justify-content: center;
    align-items: center;
    border-radius: 1.5rem;
}

/* main container */

.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 0.3rem 0 0.3rem 0;
    height: calc(100vh - 9rem);
}

/* sidebar */

.sidebar {
    background: #121212;
    width: 21rem;
    margin-right: 0.3rem;
}

.library {
    background-color: #1e1e1e;
    height: 98.5%;
    border-radius: 0.3rem;
    box-shadow: #121212;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 1rem;
    box-shadow: #1e1e1e;
}

.lib-option {
    font-weight: 600;
}

.lib-box {
    padding: 0 0.3rem;
    height: 9rem;
    overflow: auto;
}

.box {
    background-color: #2a2a2a;
    height: 5.5rem;
    border-radius: 0.75rem;
    margin: 0.5rem 0 0.5rem 0;
    padding: 1rem 1.25rem;
}

.box-p1 {
    font-size: 0.8rem;
    margin: 0;
    font-weight: 600;
}

.box-p2 {
    font-size: 0.7rem;
    opacity: 0.9;
}

.badge {
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding: 0.25rem 1rem;
    font-weight: 700;
    height: 1.8rem;
    width: fit-content;
}


.information {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 1.5rem;
    margin: 2.5rem 0;
}

.info a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-size: 0.6rem;
    margin: 1rem 0 0 0.5rem;
    opacity: 0.8;
}

.info1 a{
    margin: 1rem 0 0 -8.5rem;
    font-weight: 500;
    opacity: 1;
    top: 1rem;
}

.info1 a:hover {
    text-decoration: underline;
}

.btn {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    font-size: 0.8rem;
    margin-left: 2rem;
    opacity: 0.7;
    transition: transform 0.3s ease;
}

.btn:hover {
    opacity: 1;
    transform: scale(1.04,1.04)
}

/* main content  */

.main-content {
    background-color: #2a2a2a;
    flex: 1;
    border-radius: 0.3rem;
    padding: 0 1.5rem 0 1.5rem;
    overflow-y: auto;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: #232323;
    width: 120px;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 1rem;
}

.card-img {
    width: 100%;
    border-radius: 0.5rem;
}

.card-title {
    font-weight: 600;
    font-size: 0.85rem;
}

.card-info {
    font-size: 0.7rem;
    opacity: 0.7;
}

.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line1 {
    width: 90%;
    height: 30%;
    border-top: 1px solid white;
    opacity: 0.4;
}

.musicbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    height: 4rem;
    position: sticky;
    z-index: 10;
}

.album {
    width: 25%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.album-img {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: 0.4rem;
}

.song-name {
    font-size: 0.7rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
}

.album-icons {
    margin-left: 0.6rem;
}

.singer {
    font-size: 0.7rem;
}

.song-detail {
    margin: 0 0.2rem 0.2rem 0.2rem;
}

.player {
    width: 50%;
}

.player-control-icon {
    height: 0.7rem;
    margin-left: 1.75rem;
    opacity: 0.7;
}

.player-control-icon:hover {
    opacity: 1;
}

.player-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playback-bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar {
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track {
    background-color: #ddd;
    border-radius: 6rem;
    height: 0.2rem;
}

.progress-bar::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1db760;
    border-radius: 50%;
    margin-top: -0.4rem;
}

.controls {
    width: 25%;

}

.icons-list {
    display: flex;
    justify-content: space-around;
}

.icons-list-1 {
    opacity: 0.7;
}

.icons-list-1:hover {
    opacity: 1;
}

.icon {
    position: relative;
    /* display: inline-block; */
    /* margin: 1rem; */
}

.icon::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: -1.5rem; /* below icon */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    color: #000;
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    /* white-space: nowrap; */
    /* opacity: 0; */
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Tooltip visible on hover */
.icon:hover::after {
    opacity: 1;
    visibility: visible;
    transform: translateX(-50%) translateY(-4px);
}

.icons {
    width: 2rem;
    height: 2rem;
    background-color: rgba(63, 58, 58, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.icons:hover {
    background-color: rgba(63, 58, 58, 0.7);
    
}
